@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bgmain text-textmain antialiased font-sans;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f8f9fa;
}
::-webkit-scrollbar-thumb {
  background: #ced4da;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;
}
